.sidebar {
  /* width: 200px; */
  height: 100vh;
 
  
  color: #fff;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.sidebar-title {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  background: rgba(255, 255, 255, 0.10);

  height: 20vw;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #222; /* Custom scrollbar color */
}


/* For Webkit browsers (Chrome, Safari) */
.sidebar-menu::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

.sidebar-menu::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 4px;
}

.sidebar-menu::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}


.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border-radius: 4px;
  cursor: pointer;
  gap: 1em;
  transition: all 0.2s ease-out;
  
}

.menu-item:hover {
  background: #333;
}

.menu-item.active {
  border-radius: 0px 10px 10px 0px;
border-left: 3px solid #F00;
background: rgba(255, 0, 0, 0.20);
}

.icon {
  margin-right: 10px;
}

.sidebar-toggle {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
}

.sidebar .custom-select__control {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.10);
  border: none;
}

.sidebar .custom-select__control--is-focused {
  /* border: 2px solid #4CAF50 !important; */
  box-shadow: none;

}

.sidebar .custom-select__single-value{
  color: #FFF;
}

.sidebar .custom-select__dropdown-indicator {
  
  color: #FFF;

}

.sidebar .custom-select__menu {
  background-color: #222 !important;
  color: #fff !important;
}

.sidebar .custom-select__option {
  background-color: #888 !important;
  color: #fff !important;
}

.sidebar .custom-select__option--is-focused {
  background-color: #444 !important;
}

.sidebar .custom-select__option--is-selected {
  background-color: #F00 !important;
}
/* Remove the blue border on focus */
.sidebar .custom-select__control--is-focused {
  border: none;
  outline: none !important;  /* Remove default outline */
  box-shadow: none;
}

/* Prevent default outline when the dropdown is selected */
.sidebar .custom-select__control:focus-visible {
  outline: none !important;
}



